<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shring-to-fit=no">

    <title><%= @page_title %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="keywords" content="<%= @seo_keywords %>" />

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="text-center"data-layout="rd-navbar-fixed"
      data-sm-layout="rd-navbar-fixed"
      data-md-layout="rd-navbar-fixed"
      data-md-device-layout="rd-navbar-fixed"
      data-lg-layout="rd-navbar-static"
      data-lg-device-layout="rd-navbar-fixed"
      data-xl-layout="rd-navbar-static"
      data-xl-device-layout="rd-navbar-static"
      data-lg-stick-up-offset="46px"
      data-xl-stick-up-offset="46px"
      data-xxl-stick-up-offset="46px"
      data-lg-stick-up="true"
      data-xl-stick-up="true"
      data-xxl-stick-up="true">
        <div class="cover-container d-flex h-100 p-5 mx-auto flex-column">

          <%= render "shared/application_nav" %> <!--Partial HTML template-->

          <%= yield %>

          <%= render "shared/application_footer" %>

          <%# bikin session yang bisa dipindah2in tapi ga aman%>

          <%= source_helper("application") %>
        </div>
  </body>
</html>
